<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{{>cl-seo title="프로젝트 - 데브현" description="개발을 통해 작은 문제를 해결하고 개선한 프로젝트들을 정리 했어요."}}

	{{>cl-style}}

</head>

<body>

	{{>cl-common}}

	{{>cl-header active='project' fix='fix'}}

	<main id="contents" class="project_detail aboutperiod">
		<div>
			<h2 class="hide">현재 화면 위치</h2>
			<section class="location">
				<div>
					<p>
						<span class="path">데브현 메인</span>
						<span class="path">프로젝트</span>
						<span class="path on">상세정보</span>
					</p>
				</div>
			</section>

			<h2 class="hide">타이틀</h2>
			<section class="title">
				<div>
					<h2>
						어바웃 피리어드 홈페이지
					</h2>
					<p class="date">2019.02 ~ 2019.03</p>
					<div class="icon">
						<img src="/images/production.png" alt="배포" data-tippy-content="배포">
						<img src="/images/responsive.png" alt="반응형" data-tippy-content="반응형">
					</div>
					<p class="url">
						<span><i class="mdi mdi-eventbrite"></i></span>
						<a href="https://www.aboutperiod.com" target="_blank">https://www.aboutperiod.com</a>
					</p>
				</div>
			</section>

			<section class="background">
				<div>어바웃피리어드 대표이미지</div>
			</section>

			<section class="outline">
				<div>
					<h2>프로젝트 개요</h2>
					<p>어바웃피리어드는 월경에 대한 올바르지 않은 인식과 사회적 분위기를 바꾸기 위해 월경상자를 기획한 스타트업 입니다.</p>
					<p>초기 스타트업의 영업활동은 쉽지 않습니다. 기업이 추구하는 가치를 홍보하고 신뢰성을 높이기 위해 홈페이지를 런칭하였습니다.</p>
					<p>감성적인 일러스트와 폰트를 사용하였고 추구하는 가치와 제품을 메인으로 제공하였습니다.</p>
				</div>
			</section>
			<section class="mockup">
				<div>
					<img src="/images/concept_aboutperiod.png" alt="어바웃피리어드 컨셉 이미지">
				</div>
			</section>
			<section class="point">
				<div>
					<h2>작업 포인트</h2>
					<p>판매하는 제품의 수가 적어서 쇼핑몰보다는 랜딩페이지로 기획하였고</p>
					<p>감성적인 느낌을 전달하기 위해 일러스트·애니메이션을 활용하였습니다.</p>
					<p>또한, 다양한 디바이스 접근을 위해 반응형으로 제작하였습니다.</p>
					<br>
					<p>연혁·제품소개·프로젝트안내 페이지는 동적할당이 필요하므로 관리자 페이지를 개발하였습니다.</p>
					<p>마케팅 데이터 수집을 위한 방문자·유입 통계 시스템을 구축하였고 검색엔진 최적화 작업을 진행하였습니다.</p>
					<img src="/images/aboutperiod_full.png" alt="어바웃피리어드 홈페이지 이미지">
				</div>
			</section>
			<section class="skills">
				<div>
					<h2>개발 기술</h2>
					<p>Handlebars·HTML/CSS·Bootstrap·JQuery</p>
					<p>NodeJS(Express)·ES6·MySQL·Redis</p>
					<p>AWS·Git</p>
					<a href="/blog/tag/aboutperiod">
						개발 이슈 <i class="mdi mdi-chevron-right"></i>
					</a>
				</div>
			</section>
			<section class="back">
				<div>
					<a href="/project?scroll=private">
						목록으로 가기
					</a>
				</div>
			</section>
		</div>
	</main>

	{{>cl-footer}}

	{{>cl-script MODULE=(config 'client' 'projectDetail')}}

</body>

</html>