<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{{>cl-seo title="소개 - 데브현" description="웹 브라우저로 사람을 연결하는 개발자 김현호에 대해 알아보세요 !"}}

	{{>cl-style}}

</head>

<body>

	{{>cl-common}}

	{{>cl-header active='about' fix='fix'}}

	<main id="contents" class="about">
		<div>
			<h2 class="hide">현재 화면 위치</h2>
			<section class="location">
				<div>
					<p>
						<span class="path">데브현 메인</span>
						<span class="path on">소개</span>
					</p>
				</div>
			</section>
			<h2 class="hide">타이틀</h2>
			<section class="title">
				<div>
					<h2>
						웹 브라우저로 사람을 연결하는 개발자
						<br class="visual_pc">
						김현호에 대해 알아보세요 !
					</h2>
				</div>
			</section>
			<h2 class="hide">핵심키워드</h2>
			<section class="keyword">
				<div>
					<ul>
						<li>
							<img src="/images/web.png" alt="김현호" data-tippy-content="김현호">
							<p>웹개발자</p>
							<p>김현호</p>
						</li>
						<li>
							<img src="/images/language.png" alt="Javascript" data-tippy-content="Javascript">
							<p>매력적인</p>
							<p>Javascript</p>
						</li>
						<li>
							<img src="/images/flow.png" alt="문제의식" data-tippy-content="문제의식">
							<p>문제의식</p>
							<p>해결과정</p>
						</li>
						<li>
							<img src="/images/root.png" alt="뿌리깊은" data-tippy-content="뿌리깊은">
							<p>뿌리깊은</p>
							<p>개발자</p>
						</li>
						<li>
							<img src="/images/trust.png" alt="신뢰" data-tippy-content="신뢰">
							<p>핵심가치</p>
							<p>신뢰</p>
						</li>
					</ul>
				</div>
			</section>
			<section class="introduce">
				<div>
					<h2>개발자 소개</h2>
					<p>웹 브라우저를 통해 사람을 연결하고 현실 문제를 해결, 개선하는 매력에 푹 빠져 웹 개발을 길을 걷고 있습니다.</p>
					<p>Java로 프로그래밍을 시작하여 Javascript의 매력을 느끼고 NodeJS와 React로 웹 프로그램을 개발 하고 있습니다.</p>
					<p>문제의식과 해결의 과정으로 성장하고 있으며 항상 새로운 기술에 적극적으로 도전합니다.</p>
					<br />
					<p>다양한 프로젝트를 통해 웹 기획부터 배포·유지보수까지의 과정에 대해 경험해 보았습니다.</p>
					<p>최근에는 UI/UX에 관심을 가지고 뿌리깊은 개발자를 목표로 노력하고 있습니다.</p>
					<br />
					<p>반갑습니다, 신뢰를 가장 중요시하는 개발자 김현호입니다.</p>
				</div>
			</section>
			<section class="skills">
				<div>
					<h2>기술스택 소개</h2>
					<p>현업에서 사용하여 프로젝트를 진행하거나 관심있게 학습해본 경험이 있는 기술스택입니다.</p>
					<p>실무·토이는 해당 언어를 사용하여 결과물을 도출해본 경험이 있으며 개발된 소스코드를 이해할 수 있습니다.</p>
					<p>기초 단계는 관심있게 학습 중이며 일정 학습정도가 되면 토이 프로젝트를 진행할 계획이 있습니다.</p>

					<div class="first category">
						<div class="detail">
							<div class="default">
								<img src="/images/frontend.png" alt="">
								<div>
									<h3>Frontend</h3>
									<p>퍼블리싱 &amp; SPA 프레임워크</p>
								</div>
							</div>
						</div>
						<div class="list">
							<ul>
								<li>
									<img src="/images/skill_html.png" alt="">
									<div>
										<h3>HTML<span class="status p">실무</span></h3>
										<span class="desc">태그를 활용한 마크업</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_css.png" alt="">
									<div>
										<h3>CSS<span class="status p">실무</span></h3>
										<span class="desc">PSD 화면 퍼블리싱</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_jquery.png" alt="">
									<div>
										<h3>JQuery<span class="status p">실무</span></h3>
										<span class="desc">라이브러리 활용 및 커스터마이징</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_javascript.png" alt="">
									<div>
										<h3>Javascript<span class="status p">실무</span></h3>
										<span class="desc">모던 자바스크립트 문법 활용</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_react.png" alt="">
									<div>
										<h3>ReactJS<span class="status p">실무</span></h3>
										<span class="desc">Hook·Redux·CSS-in-JS 활용</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_vue.png" alt="">
									<div>
										<h3>VueJS<span class="status t">토이</span></h3>
										<span class="desc">Directive·Router·Vuex·Nuxt 이해</span>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="category">
						<div class="detail">
							<div class="default">
								<img src="/images/backend.png" alt="">
								<div>
									<h3>Backend</h3>
									<p>MVC웹 개발 &amp; RestAPI 서버 구축</p>
								</div>
							</div>
						</div>
						<div class="list">
							<ul>
								<li>
									<img src="/images/skill_java.png" alt="">
									<div>
										<h3>Java<span class="status p">실무</span></h3>
										<span class="desc">객체지향에 대한 이해와 람다 활용</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_springboot.png" alt="">
									<div>
										<h3>SpringBoot<span class="status p">실무</span></h3>
										<span class="desc">기본 환경 셋팅 및 라이브러리를 활용한 웹 개발</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_nodejs.png" alt="">
									<div>
										<h3>NodeJS<span class="status p">실무</span></h3>
										<span class="desc">Express기반의 REST API 구축</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_mysql.png" alt="">
									<div>
										<h3>MySQL<span class="status p">실무</span></h3>
										<span class="desc">JOIN, INDEX에 대한 이해를 바탕으로 SQL 작성</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_ts.png" alt="">
									<div>
										<h3>TypeScript<span class="status b">토이</span></h3>
										<span class="desc">타입 선언과 간단한 활용</span>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="category last">
						<div class="detail">
							<div class="default">
								<img src="/images/server.png" alt="">
								<div>
									<h3>Devops</h3>
									<p>형상관리와 유지보수 &amp; 서버 구축</p>
								</div>
							</div>
						</div>
						<div class="list">
							<ul>
								<li>
									<img src="/images/skill_aws.png" alt="">
									<div>
										<h3>AWS<span class="status p">실무</span></h3>
										<span class="desc">EC2 서버 구축 및 운영</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_linux.png" alt="">
									<div>
										<h3>Linux<span class="status p">실무</span></h3>
										<span class="desc">기본 명령어 숙지 및 서버 환경 설정</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_junit.png" alt="">
									<div>
										<h3>JUnit<span class="status p">실무</span></h3>
										<span class="desc">테스트 케이스 및 테스트 코드 작성</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_svn.png" alt="">
									<div>
										<h3>SVN<span class="status p">실무</span></h3>
										<span class="desc">형상관리 툴 활용</span>
									</div>
								</li>
								<li>
									<img src="/images/skill_git.png" alt="">
									<div>
										<h3>Git<span class="status p">실무</span></h3>
										<span class="desc">기본적인 사용과 브랜치 활용</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="brand">
				<div>
					<h2>데브현 소개</h2>
					<p>어떤 사람인지, 어떤 것에 열정적인지를 파악하여 확립한 펄스널 브랜딩입니다.</p>
					<p>세상에 많은 개발자들 중 '김현호'가 추구하는 가치를 브랜드화 하였습니다.</p>
					<img class="visual_pc" src="/images/identity_pc.png" alt="김현호,프로그래밍에서 신뢰,소통,도전 아이덴티티 적립">
					<img class="visual_mobile" src="/images/identity_mobile.png" alt="김현호,프로그래밍에서 신뢰,소통,도전 아이덴티티 적립">
					<div class="logo_box">
						<div class="desc">
							<p>
								데브현 로고에서 텍스트는
								<br>
								'Developer'와 'Hyun Ho Kim'의 합성형태로
								<br>
								개발자 김현호를 의미힙니다.
								<br><br>
								심볼은 알파벳 D를 추상화하여 HTML의 닫는 태그 형태로
								<br>
								두 면의 모서리를 통해 소통의 이미지를 전달하였습니다.
								<br><br>
								Blue는 신뢰감을 주는 색상으로 핵심 가치를 반영하였습니다.
								<br>
								Black은 블루 컬러를 보완해주며 진취적이고 도전적인 의미를 담았습니다.
							</p>
						</div>
						<div class="bi">
							<img src="/images/bi.png" alt="BI">
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

	{{>cl-footer}}

	{{>cl-script MODULE=(config 'client' 'about')}}

</body>

</html>