<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{>cl-seo title="로그인 - 데브현"}}

  {{>cl-style}}

</head>

<body>

  {{>cl-loader}}

  <section class="login">
    <h2><img src="/images/logo.png" alt="Devhyun"></h2>
    <form method="POST" onsubmit="APP.login(); return false;">
      <input id="id" name="id" type="text" placeholder="아이디">
      <input name="password" type="password" placeholder="비밀번호" autocomplete="off">

      <div class="checks">
        <input type="checkbox" id="save" name="save">
        <label for="save">아이디 저장</label>
      </div>

      <button type="submit">로그인</button>

    </form>
  </section>

  {{>cl-script}}

  <script>
    window.APP = {
      login: function () { // 로그인 처리

        // 유효성 검사
        var form = $(event.target).serializeObject();

        var validate = true;
        var message = '';

        if (form.id == '') {
          validate = false;
          message = '아이디를 입력해주세요.';
        } else if (form.password == '') {
          validate = false;
          message = '비밀번호를 입력해주세요.';
        }

        if (!validate) {
          Swal.fire({
            type: 'error',
            title: '오류',
            text: message,
            confirmButtonColor: '#004abf',
            confirmButtonText: '확인',
            heightAuto: false,
          });
          return false;
        }

        // 이메일 저장 로직
        var id = $('#id').val();
        var save = $('#save').is(":checked");
        if (save) {
          COOKIE.setCookie('loginId', id, 1);
        } else {
          COOKIE.setCookie('loginId', '', -1);
        }

        AJAX.post('/member/login', form)
          .then(function () {
            location.href = '/admin';
          });

        return false;
      },
      init: function () { // 초기 스크립트 실행

        // 저장된 이메일 쿠키에서 로드
        var id = COOKIE.getCookie('loginId');

        if (id) {
          $('#save').attr("checked", true);
          $('#id').val(id);
        }

      }
    }

    $(document).ready(function () {
      APP.init();
    });
  </script>

</body>

</html>