{{!-- 공통 영역 --}}
<div id="remodal" class="remodal" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div class="contents_slot"></div>
</div>