{{!-- 헤더 영역 --}}
<div class="az-header az-header-dashboard-nine">
  <div class="container-fluid">
    <div class="az-header-left d-lg-none">
      <a href="javascript:;" id="azSidebarToggle" class="az-header-menu-icon"><span></span></a>
    </div>
    <div class="az-header-center tx-center tx-lg-left">
      <a href="/admin/work/schedule">
        <img src="/images/logo.png" class="wd-170 wd-md-200">
      </a>
    </div>
    <div class="az-header-right">
      <div class="az-header-message d-none d-md-block mg-r-15">
        <a class="d-block text-center" href="javascript:;" onclick="window.print();"><i
            class="mdi mdi-printer"></i><span class="tx-14 d-none d-md-block mg-t-5">PRINT</span></a>
      </div>
      <div class="az-header-message">
        <a class="d-block text-center" href="javascript:;" onclick="COMMON.logout();"><i
            class="typcn typcn-power mg-r-5"></i><span class="tx-14 d-none d-md-block">LOGOUT</span></a>
      </div>
    </div>
  </div>
</div>