# Logs
logs
*.log
npm-debug.log*

# dotenv environment variables file
.env

# Uploads
uploads

# Rss Feed
rss.xml

# Dependency directories
node_modules/

# Build directories
build/

# webpack
public/js/module.js