@media (max-width: 1440px){
  header {width: 100px;}
  header .lnb ul li i {margin-right: 0px; font-size: 20px;}
  header .lnb ul li a {text-align: center;}
  header .lnb ul li a span {display: none;}
  
  header .logo img.sm {display: block; width: 40px; margin: 0 auto;}
  header .logo img.lg {display: none;}

  header .profile h3 {font-size: 14px;}
  header .profile p {font-size: 10px;}
  header .profile img {width: 48px;}
  header .profile .btn {font-size: 10px;}
  header .profile a+a {margin-left: 0px; margin-top: 8px;}
  main {margin-left:100px;}
}

@media (max-width: 999px){
  header {width: 100%; height: 61px; z-index: 10; background: #fff;}
  header .logo {margin: 0px; padding: 0px; height: 61px;}
  header .logo a {display: inline-block; margin: 0px;}
  header .logo img.lg {display: block; width: 180px; margin-left: 4px; margin-top: 8px;}
  header .logo img.sm {display: none;}

  header .profile {display: none;}

  header .mobile_member {position: absolute; top: 18px; right: 52px; cursor: pointer; display: inline-block; background: transparent;}
  header .account {display:block; float: right;}
  header .account li a {padding: 0px;}
  header .account img {width: 24px; border-radius: 50%;}
  header .account .name {display: inline-block;}
  header .dropdown {position: absolute; visibility: hidden; opacity: 0; transition: .2s ease-in-out; transform: translateY (-20px); top: 60px; right: 0px; width: 150px; background: #fff; border: 1px solid #eee; font-size: 14px; border-radius: 0 0 .28571429rem .28571429rem; box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);}
  header .dropdown.on {visibility: visible; opacity: 1;}
  header .dropdown > a {display: block; margin: 24px 24px 0px;}
  header .dropdown > a:last-child {margin-bottom: 24px;}

  header .burger {display: block;}
  header .burger button {position: absolute; top: 10px; right: 4px; cursor: pointer; display: inline-block; padding:12px; background: transparent;}
  header .burger button > span {display: block; width: 22px; height: 3px; border-radius: 4px; background: #004abf;}
  header .burger button > span + span {margin-top: 4px;}
  header .lnb {display: none; height: auto;}
  header .lnb ul {margin-top: 0px; padding: 12px 0px;}
  header .lnb ul li a {text-align: left; padding: 0 20px; font-size: 16px; line-height: 44px;}
  header .lnb ul li a span {display: inline-block;}
  header .lnb ul li i {display: none;}
  header .lnb ul li.on a::before {display: none;}
  
  header .lnb.collapse {display: block;}
  header .lnb.collapse + .overlay {position: absolute; width: 100%; height: 100vh; right: 0; background: #333333; opacity: 0.5;}

  main {margin-left: 0px; padding-top: 61px; min-height: auto; padding: 85px 12px 24px; min-width: 100%; position: relative;}
  main aside {position: absolute; top: 90px; right: 12px; margin-bottom: 24px;}
  main .page_title {margin-bottom: 24px;}
  main .row {flex-direction: column; margin-bottom: 32px;}
  main .lib .left {width: 100%;}
  main .lib .right {margin-left: 0px; margin-top: 24px;}

  .btn {font-size: 10px;}

  /* ----- 대시보드 ----- */
  .dashboard .summary {width: 100%; margin-right: 0px;}
  .dashboard .summary h2 {margin-bottom: 16px;}
  .dashboard .summary .home_info {display: none;}
  .dashboard .summary ul li h3 {font-size: 14px;}
  .dashboard .summary ul li p {font-size: 20px;}
  
  .dashboard .sys_info {display: none;}
  .dashboard .todo {width: 100%; margin-bottom: 32px; margin-right: 0px;}
  .dashboard .todo h2 {margin-bottom: 16px;}
  .dashboard .todo ul li .header {display: block;}
  .dashboard .todo ul li .header .title {width: 85%;}
  .dashboard .todo ul li .header .start_date, .dashboard .todo ul li .header .end_date {display: inline-block; width: auto; font-size: 12px;}
  .dashboard .todo ul li .header .start_date::after {content: '~';}
  .dashboard .todo ul li .header .check {position: absolute; top: 12px; right: 12px;}
  .dashboard .todo ul li .contents {font-size: 12px;}
  .dashboard .todo ul li:last-child {margin-bottom: 0px;}
  .dashboard .schedule {width: 100%;}
  .dashboard .schedule h2 {margin-bottom: 16px;}
  .dashboard .schedule ul li {padding-bottom: 0px;}

  /* ----- 스케줄 ----- */
  .schedule .lib {flex-direction: column;}
  .schedule .lib .btn {line-height: 28px; padding: 0px 12px;}
  .schedule .lib .btn.move {padding: 6px;}
  .schedule .lib .lnb-calendars > div {padding: 8px 4px;}
  .schedule .lib .lnb-calendars > div:first-child {padding: 8px 0px 16px}
  .schedule .lib .lnb-calendars .lnb-calendars-item.checkbox-item {font-size: 16px;}
  .schedule .lib .lnb-calendars .lnb-calendars-item .move {display: none;}
  .schedule .lib .right {height: 100%; margin-left: 0px; margin-top: 24px;}
  .schedule .lib .render_range {display: block; padding-left: 0px; text-align: center; margin: 8px 0px;}
  
  /* ----- 태스크 ----- */
  .task .lib {flex-direction: column;}
  .task .lib .left .menu {padding: 8px 0px 16px;}
  .task .lib .left .list {padding: 8px 4px;}
  .task .lib .left .item .move {display: none;}

  .task .lib .right .menu {padding: 0px 0px 16px;}
  .task .lib .right .list ul li .header {display: block;}
  .task .lib .right .list ul li .header .title {width: 85%;}
  .task .lib .right .list ul li .contents {font-size: 12px;}
  .task .lib .right .list ul li:last-child {margin-bottom: 0px;}
  .task .lib .right .list ul li .header .start_date, .task .lib .right .list ul li .header .end_date {display: inline-block; width: auto; font-size: 12px;}
  .task .lib .right .list ul li .header .start_date::after {content: '~';}
  .task .lib .right .list ul li .header .end_date {margin-right: 4px;}
  .task .lib .right .list ul li .ctx_menu {display: inline-block;}
  .task .lib .right .list ul li .ctx_menu + .ctx_menu {margin-left: 4px;}
  .task .lib .right .list ul li .check {position: absolute; top: 12px; right: 12px;}

  .task .lib .right .mode .header {display: block;}
  .task .lib .right .mode .header .start_date {display: inline-block; width: 35%}
  .task .lib .right .mode .header .end_date {display: inline-block; width: 35%}
  .task .lib .right .mode .contents textarea {font-size: 12px;}
 
  /* ----- 노트 ----- */
  .note .lib {flex-direction: column;}
  .note .lib .left .menu {padding: 8px 0px 16px;}
  .note .lib .left .list {padding: 8px 4px;}
  .note .lib .left .item .move {display: none;}

  .note .lib .right .menu {padding: 0px 0px 16px;}
  .note .lib .right .list ul {flex-direction: column; margin: 16px 12px 0px;}
  .note .lib .right .list ul a {width: 100%; margin: 0px; margin-bottom: 16px; padding: 24px 28px;}

  .note .lib .right .menu .info {display: block; float: none; top: 52px;}
  .note .lib .right .container {margin-top: 32px;}
  .note .lib .right .container .contents {width: 100%; margin-bottom: 0px; margin-right:0px; min-height: 400px;}
  .note .lib .right .container .aside {display: none;}

  .note .lib .left .option .item {padding: 12px;}
  .note .lib .left .option .spell {display: none;}

  /* ----- 블로그 ----- */
  .blog .lib {flex-direction: column;}
  .blog .lib .left .menu {padding: 8px 0px 16px;}
  .blog .lib .left .list {padding: 8px 4px;}
  .blog .lib .left .item .move {display: none;}
  .blog .lib .left .option .item {padding: 12px;}

  .blog .lib .right .post ul li {width: 100%; margin: 0px 0px 24px 0;}

  .blog .lib .right .menu {position: relative; padding: 0px 0px 16px;}
  .blog .lib .right .menu .info {display: block; float: none; top: 52px;}
  .blog .lib .right .container {margin-top: 32px;}
  .blog .lib .right .container .contents {width: 100%; margin-bottom: 0px; margin-right:0px; min-height: 400px;}
  .blog .lib .right .container .aside {display: none;}
  .blog .lib .right .container .contents .posts ul li {flex-direction: column; margin: 0px 0px 24px 0;}
  .blog .lib .right .container .contents .posts ul .thumb {width: 100%;}
  .blog .lib .right .container .contents .posts ul .description {width: 100%;}
  
  .blog .lib .right .tag a {font-size:12px; padding: 4px 8px; margin: 0px 8px 12px 0px;}

  /* ----- 회원 ----- */
  .member .lib {flex-direction: column;}
  .member .lib .left .menu {padding: 8px 0px 16px;}
  .member .lib .left .list {padding: 8px 4px;}
  .member .lib .right .list ul li .thumbnail img {width: 32px;}
  .member .lib .right .list ul li .contents .name {font-size: 14px;}
}
