/* -- 마크다운 에디터 시작 -- */
.tui-editor-contents {
  font-size: 18px;
}

.tui-editor-contents *:not(table) {
  line-height: 180%;
}

.tui-editor-contents h1 {
  font-size: 24px;
  line-height: 32px;
  border-bottom: none;
  margin: 52px 0 15px 0;
  color: #333;
  font-weight: 500;
}

.tui-editor-contents h1:first-child {
  margin-top: 0px;
}

.tui-editor-contents h2 {
  font-size: 20px;
  line-height: 28px;
  border-bottom: none;
  margin: 30px 0 13px 0;
  color: #333;
  font-weight: 500;
}

.tui-editor-contents h3,
.tui-editor-contents h4 {
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0 2px;
    color: #333;
    font-weight: 500;
}

.tui-editor-contents h5,
.tui-editor-contents h6 {
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0 -4px;
    color: #333;
    font-weight: 500;
}

.tui-editor-contents ul li, .tui-editor-contents ol li {
  list-style: initial;
}

.tui-editor-contents a {
  text-decoration: none;
}

.tui-editor-contents a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.tui-editor-contents img {
  max-width: 100%;
  display: block;
  margin: 16px 0px;
}

.tui-editor-defaultUI .emoji {
  background: url(../images/emoji-icon.png);
  background-position: 1px 2px;
  background-size: 100%;
}

.tui-editor-defaultUI .temp {
  background: url(../images/temp-icon.png);
  background-position: 1px 2px;
  background-size: 100%;
}

.tui-editor-defaultUI .load {
  background: url(../images/load-icon.png);
  background-position: 1px 2px;
  background-size: 100%;
}

.tui-editor-defaultUI-toolbar {
  padding: 0 10px;
  overflow: visible;
}

.tui-editor-defaultUI .te-mode-switch-section {
  display:none !important;
}

.tui-editor-defaultUI .CodeMirror-line {
  padding-left: 10px;
  padding-right: 10px;
}

.tui-editor-defaultUI ul.lsx-emojipicker-tabs li.selected {
  border-bottom: 0px;
}

.tui-editor-defaultUI .lsx-emojipicker-container {
  right: -44px;
}

.te-md-container .te-preview .tui-editor-contents {
  padding-top: 18px;
  padding-bottom: 18px;
}

@media (max-width: 999px) {
.te-toolbar-section {
  height: auto;
}

.tui-editor-defaultUI .te-markdown-tab-section {
  float:none;
}

.te-markdown-tab-section .te-tab {
  margin: 0px;
}

.tui-editor-contents pre {
  overflow-x: scroll;
}

.tui-editor-contents pre code {
    width: max-content;
    display: inline-block;
    font-size: 14px;
}
}


/* -- 마크다운 에디터 끝 -- */

/* -- 툴팁 시작 -- */
.tippy-tooltip.devhyun-theme {
  background-color: #004abf;
  color: #fff;
  font-size: 12px;
}

.tippy-tooltip.devhyun-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-tooltip.devhyun-theme .tippy-backdrop {
  background-color: #004abf;
}
/* -- 툴팁 끝 -- */