@media (max-width: 999px){
  .tui-full-calendar-month {min-height: 800px;}
  .tui-full-calendar-layout #tui-full-calendar-startpicker-container, .tui-full-calendar-layout #tui-full-calendar-endpicker-container {top: -50px; left: 0px; position: absolute !important;}
  .tui-full-calendar-popup-container {min-width: 100%; padding: 12px;}
  .tui-full-calendar-section-title input {width: 280px;}
  .tui-full-calendar-popup-section-item.tui-full-calendar-section-location input {width: 100%;}
  .tui-full-calendar-icon.tui-full-calendar-ic-location, .tui-full-calendar-icon.tui-full-calendar-ic-title {display: none;}
  .tui-full-calendar-section-date-dash {display: none;}
  .tui-full-calendar-section-start-date {margin-bottom: 6px;}

  .task .lib .right .mode .header .end_date .tui-datepicker {left: -58px;}
}
