<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{APP}}</title>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/error.css">
</head>

<body>

  <div id="progress"></div>

  <section class="error">
    <img src="/images/500.png" alt="500">
    <h1><strong>ERROR CODE</strong> : 500</h1>
    <p>시스템 오류가 발생했습니다</p>
    <a href="/">메인화면</a>
  </section>

  <script>

  </script>

</body>

</html>