<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{APP}} - 관리자</title>

  {{>ad-style}}

</head>

<body>
  {{>ad-common}}

  {{>ad-header active="blog"}}

  <main class="blog">
    <h1 class="page_title">블로그</h1>
    <aside class="aside"></aside>
    <section class="lib">
      <div class="left">
        <div class="menu">
          <div class="all">
            카테고리
          </div>
        </div>
        <div class="list">
          <ul>
            <li class="item">
              <a href="/admin/blog/post">
                <i class="mdi mdi-post-outline"></i><span>포스트</span>
              </a>
            </li>
            <li class="item">
              <a href="/admin/blog/series"><i class="mdi mdi-cube-outline"></i><span>시리즈</span></a>
            </li>
            <li class="item">
              <a href="/admin/blog/tag">
                <i class="mdi mdi-pound"></i><span>태그</span>
                <span class="check">
                  <i class="mdi mdi-check-bold"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <div class="menu">
          <span class="title">
            등록된 태그
          </span>
        </div>
        <div id="list" class="list tag">
          {{#each tags}}
          <a href="javascript:;">
            <span class="name">{{tag}}</span>
            <span class="count">{{count}}</span>
          </a>
          {{/each}}
        </div>
      </div>
    </section>
  </main>

  {{>ad-script MODULE=(config 'admin' 'tag')}}

</body>

</html>